<% 
	include( '_include/_function.ejs' );
	$path = './';
	$active = 'top';
%>
<!DOCTYPE html>
<html>
<%- include( '_include/head.ejs' ); %>
<body class="home">
	<%- include( '_include/header.ejs' ); %>

	<%- include( '_include/nav.ejs' ); %>
	<%- include( '_include/footer.ejs' ); %>
</body>
</html>