
<footer class="siteFooter">
<!-- ***** nav toggle (only smartphone) -->
<div class="navToggle"><span class="navToggle__text"></span></div>
<!-- ///// nav toggle (only smartphone) -->
<%- include( '_scripts.ejs' ); %>
</footer>