<header class="siteHeader">
	<div class="wrap">
		<h1 class="siteHeader__logo">
			
		</h1>
		<nav class="siteHeader__nav">
			<ul>
				<li>
					<a href="">
				
					</a>
				</li>
				<li>
					<a href="">
					</a>
				</li>						
			</ul>
		</nav>
	</div>
</header>
