@charset "UTF-8";
//////////////////////////////////////////

//color setting

//include by style.scss

//////////////////////////////////////////

/////////color setting

$blue : #00cfff;
$green: #406358;



////base settings



////////// project setting

$basefontColor : #3a3a3a;
$border: #535d66;
$link: $green;


// $maincolor: 
// $color_main: 
// $color_button: 
// $color_attention: 
// $color_link: 
// $color_border: 
// $color_notactive: 

